* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    font-family: Lato-Regular, sans-serif;
    height: 100%;
}

.bar {
    color: #FBFEF9;
    width: 76%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 0);
}

.bar li {
    padding-top: 15px;
    height: 100%;
    display: block;
    float: left;
    font-size: 24px;
    margin-right: 20px;
}
.bar .last {
    margin-right: 0;
    float: right;
}
.bar .phone {
    margin-right: 20px;
    float: right;
    color: #DB504A;
}
.bar a:link {
    color: #FBFEF9;
    text-decoration: none;
}
.bar a:visited {
    color: #FBFEF9;
    text-decoration: none;
}
.bar a:hover {
    color: #d4d6d3;
    text-decoration: none;
}
.bar a:hover {
    color: #d4d6d3;
    text-decoration: none;
}
.content {
    width: 100%;
    height: 100%;
}

.screen1 {
    width: 100%;
    height: 100%;

}

.screen1 .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: url("images/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(50%);
}

.center {
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


.title {
    font-family: Lato-Light;
    font-size: 115px;
    color: #FBFEF9;
    backdrop-filter: none;
    text-decoration-thickness: 10%;    
}

.description {
    font-family: Lato-Light;
    font-size: 40px;
    color: #FBFEF9;
    backdrop-filter: none;
    text-decoration-thickness: 10%;
}

.screen2 {
    width: 100%;
    height: 100%;
    background-color: #FBFEF9;
    color: #0A0908;
}